.btn {
    background-color: red;
    color: white;
    border-radius: 8em;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 5px 0 0 white;
}

.btn:hover {
    background-color: white;
    color: red;
    transform: translateY(4px) translateX(2px);
    box-shadow: -3px -5px 0 0 red;
}


.btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 white;
}