@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #FFFFFF;
  background-color: #090E37;
  background-image: url("../assets/images/background/body-bg.png");
  background-position: center top -350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-bg {
  background-image: url("../assets/images/background/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


@layer utilities {
  .wrapper {
    @apply max-w-7xl mx-auto px-2 lg:px-0
  }
}