.testimonials-bg {
    background-image: url("../../../../../assets/images/home/testimonials/testimonials-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}